body{
    background: url("https://images.pexels.com/photos/1762851/pexels-photo-1762851.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position: center;
}
.btn-primary{
    outline: none;
    background: lightblue;
    color: black;
    border: none;
}
table{
    margin: 5% auto;
}
.page-header{
    color: black;
}
table tr td{
    width: 90px;
    height: 90px;
    font-size: 50px;
    font-family: 'Raleway';
    font-style: normal;
    text-align: center;
}
table tr td:hover{
    background-color: rgba(255, 255, 255, 0.418);
    border-radius: 8%;
}
.cross, .naught{
    background-color: transparent;
    font-style: "Semi-Bold";
    margin: 0 5%;
    width: 10%;
    height: 5%;
    outline: none;
    border: none;
    font-size: 20px;
    font-family: 'Raleway';
}

.rows{
    border-right: 2px solid #232323;
}
.cols{
    border-bottom: 2px solid #232323;
}
.page-header{
    text-align: center;
}
.cross-select{
    color: #D9534F;
    font-weight: 700;
}
.naught-select{
    color: #5CB85C;
    font-weight: 700;
}
.cross-selected{
    background-color: transparent;
    color: #D9534F;
    border: 1px solid #D9534F;
}
.naught-selected{
    background-color: transparent;
    color: #5CB85C;
    border: 1px solid #5CB85C;
}
#declare{
    color: black;
    font-size: large;
}
.container{
    background: rgba(255, 255, 255, 0.288);
    text-align: center;
}
.reset{
    margin: 2% auto;
}